<footer class="footer">
	<div class="footer-hr">
		<hr>
	</div>
	<div class="footer-container">
		<ul class="footer-social-nav">
			<li><a href="https://www.facebook.com/ForTheLoveOfQuote" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
			<li><a href="https://twitter.com/ForTheLoveOfQuo" target="_blank"><i class="fab fa-twitter"></i></a></li>
			<li><a href="https://www.instagram.com/loving_quotes_again/" target="_blank"><i class="fab fa-instagram"></i></a></li>
		</ul>
	
		<ul class="footer-nav">
			<li><a href="/contact">Contact</a></li>
			<li><a href="/impressum">Imprint</a></li>
			<li><a href="/privacy">Privacy note</a></li>
		</ul>
	</div>
				
</footer>
