<header class="header">
	<div class="header-container">
		<a href="/index.html" class="page_title_link">For The Love of Quote</a>

		<nav>
			<input type="checkbox" id="mobile-menu" class="mobile-menu-check">
			<label for="mobile-menu" class="show-mobile-menu"><i class="fas fa-bars"></i></label>
			<ul class="header-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/blog">Gallery</a></li>
				<li><a href="/about">About</a></li>
			</ul>
		</nav>
		
	</div>
		
	<div class="header-hr">
		<hr>
	</div>
</header>